.quien__encabezado{
    background-color: $periwinkle-2;
    border-radius: 10px;
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .quien__cuerpo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.index__encabezado{
    background-color: $periwinkle-2;
    border-radius: 10px;
    margin: 25px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $periwinkle-2;
border-radius: 10px;
margin: 25px;
padding: 15px;
display: flex;
flex-direction: column;
align-items: center;
}