/*Colores*/

/* SCSS RGB */
$mimi-pink: rgba(255, 214, 255, 1);
$mauve: rgba(231, 198, 255, 1);
$mauve-2: rgba(200, 182, 255, 1);
$periwinkle: rgba(184, 192, 255, 1);
$periwinkle-2: rgba(187, 208, 255, 1);